<div class="footer-container">

  <div class="footer-inner-container">

    <div class="footer-column">
      <a class="footer-company-name">
        <span>team</span>
        <span class="footer-company-name-dot">.</span>
      </a>
      <a class="footer-row">
        <img ngSrc="assets/images/instagram.svg"
             alt="instagram-logo"
             width="16"
             height="16">
        <span>instagram</span>
      </a>

      <a class="footer-row">
        <img ngSrc="assets/images/facebook.svg"
             alt="instagram-logo"
             width="16"
             height="16">
        <span>Facebook</span>
      </a>

      <a class="footer-row">
        <img ngSrc="assets/images/twitter.svg"
             alt="instagram-logo"
             width="16"
             height="16">
        <span>Twitter</span>
      </a>

      <a class="footer-row">
        <img ngSrc="assets/images/instagram.svg"
             alt="instagram-logo"
             width="16"
             height="16">
        <span>instagram</span>
      </a>

      <a class="footer-row">
        <img ngSrc="assets/images/facebook.svg"
             alt="instagram-logo"
             width="16"
             height="16">
        <span>Facebook</span>
      </a>

      <a class="footer-row">
        <img ngSrc="assets/images/twitter.svg"
             alt="instagram-logo"
             width="16"
             height="16">
        <span>Twitter</span>
      </a>
    </div>

    <div class="footer-column">

      <div class="footer-title">Use Cases</div>

      <a class="footer-subtitle">UI Design</a>
      <a class="footer-subtitle">UX Design</a>
      <a class="footer-subtitle">Prototyping</a>
      <a class="footer-subtitle">UI Design</a>
      <a class="footer-subtitle">UX Design</a>
      <a class="footer-subtitle">Prototyping</a>
    </div>

    <div class="footer-column">

      <div class="footer-title">Explore</div>

      <a class="footer-subtitle">Figma</a>
      <a class="footer-subtitle">Customers</a>
      <a class="footer-subtitle">Why I Love Figma</a>
      <a class="footer-subtitle">Figma</a>
      <a class="footer-subtitle">Customers</a>
      <a class="footer-subtitle">Why I Love Figma</a>
    </div>

    <div class="footer-column">

      <div class="footer-title">Resources</div>

      <a class="footer-subtitle">Community Resources Hub</a>
      <a class="footer-subtitle">Support</a>
      <a class="footer-subtitle">Education</a>
      <a class="footer-subtitle">Community Resources Hub</a>
      <a class="footer-subtitle">Support</a>
      <a class="footer-subtitle">Education</a>
    </div>

  </div>

  <div class="newsletter-column">
    <div class="footer-subscribe">
      Subscribe to our newsletter
    </div>

    <div class="footer-newsletter-container">

      <input class="footer-newsletter-input"
             placeholder="Email"
             type="email">

      <img class="hover-image"
           src="assets/images/arrow-right.svg"
           alt="newsletter-arrow"
           width="39"
           height="30">
    </div>
  </div>

</div>
