<div class="header-container">

  <div class="header-company-name">team.</div>

  <ul class="header-actions-container">

    <a class="header-action"
       href="#">
      Products
    </a>

    <a class="header-action"
       href="#">
      Services
    </a>

    <a class="header-action"
       href="#">
      Contact
    </a>

    <a class="header-action"
       href="#">
      Profile
    </a>

    <a class="header-action logout-action"
       href="#">
      Logout
    </a>

  </ul>
</div>
