<div class="header-container">

  <div class="header-company-name"
       [routerLink]="['/']">
    team.
  </div>

  <div class="header-actions-container">

    <a class="header-action"
       href="#">
      Products
    </a>

    <a class="header-action"
       href="#">
      Services
    </a>

    <a class="header-action"
       href="#">
      Contact
    </a>

    <a class="header-action"
       href="#">
      Profile
    </a>

    <a class="button-secondary "
       href="#">
      Logout
    </a>
  </div>

  <div class="mobile-navbar">
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>

    <ul class="menu">
      <li>
        <a class="header-action"
           href="#">
          Products
        </a>
      </li>
      <li>
        <a class="header-action"
           href="#">
          Services
        </a>
      </li>
      <li>
        <a class="header-action"
           href="#">
          Contact
        </a>
      </li>
      <li>
        <a class="header-action"
           href="#">
          Profile
        </a>
      </li>
      <li>
        <a class="header-action logout-action"
           href="#">
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
