.create-outer-container{
  max-width: 900px;
  padding-inline: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  margin-inline: auto;

  display: flex;
  flex-direction: column;

  .create-page-title{
    margin-inline: auto;
    margin-bottom: 30px;
  }

  .create-inner-container{
    background: white;
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 30px;
    row-gap: 30px;
    font-size: 15px;

    .create-row{
      display: flex;

      flex-direction: row;
      @media only screen and (max-width: 500px) {
        flex-direction: column;
      }
      column-gap: 20px;
      row-gap: 10px;

      .row-inner-container{
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .create-label{
        white-space: nowrap;
        font-family: Mulish;
        font-weight: 600;
        color: var(--gray);
        min-width: 125px;

        &::after{
          content: "*";
          color: red;
        }
      }

      .create-input {
        width: 100%;
        border-radius: 5px;
        padding: 5px 10px;
        border: 1px solid var(--gray);
        font-family: Mulish;
      }
    }

    .create-submit-btn{
      width: fit-content;
      margin-inline: auto;
      margin-top: 20px;
    }
  }


  .error-message{
    color: indianred;
    border: 1px solid indianred;
    padding: 5px 10px;
    margin-top: 3px;
    border-radius: 5px;
  }
}

