<div class="create-outer-container">

  <h1 class="create-page-title">Write your own Blog !</h1>
  <div class="create-inner-container">

    <div class="create-row create-title-container">
      <label class="create-label">Title of blog:</label>
      <textarea class="create-input create-title-input" rows="3"></textarea>
    </div>

    <div class="create-row">
      <label class="create-label">Blog Image URL:</label>
      <input class="create-input" type="url">
    </div>

    <div class="create-row">
      <label class="create-label">Content:</label>
      <quill-editor [styles]="{height: '300px'}"
                    format="text"
                    class="ps-mb-30px"
                    dir="ltr">
      </quill-editor>
    </div>

    <button class="button-secondary create-submit-btn">
      Submit
    </button>
  </div>
</div>
