.blogs-list-container{
  display: flex;
  flex-direction: column;

  max-width: 1185px;
  padding-inline: 15px;
  margin-inline: auto;

  .list-title{
    margin-top: 20px;
    font-family: Mulish;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .list-description{
    margin-top: 20px;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 163.15%;
    color: var(--gray);
  }

  .list-search-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    .list-search-box{
      width: 100%;
      max-width: 367px;
      height: 44px;
      border-radius: 4px;
      border: 1px solid var(--blue);
      background: var(--search-bg-white);
      &::placeholder{
        padding-inline-start: 30px;
        color: var(--gray);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150.6%;
      }
    }

    .add-post-btn{
      padding: 11px 50px;
    }

  }



  .blogs-grid{
    margin-top: 30px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, min(100%, 363px));
    justify-content: center;
    grid-gap: 20px;
    row-gap: 65px;
    column-gap: 33px;
    .blog {
      display: flex;
      flex-direction: column;
      background: white;
      border-radius: 30px;
      height: 440px;
      width: 100%;
      max-width: 363px;
      padding-bottom: 20px;
      overflow: hidden;
      text-decoration: none;

      .blog-inner-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-inline: 35px;
      }

      .blog-image{
        width: 100%;
        height: 147px;
      }

      .blog-title{
        margin-top: 25px;
        height: 90px;

        color: var(--black);
        font-family: Cabin;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .blog-summary {
        margin-top: 25px;

        color: var(--black);
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 150.6%;
      }

      .author-section {
        display: flex;
        align-items: center;
        margin-top: auto;

        color: var(--gray);
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 150.6%;

        .author-name{
          margin-inline-end: 10px;
        }
        .created-date {
          margin-inline-start: 15px;
        }
        .author-avatar{
          border-radius: 50%;
          margin-inline-end: 20px;
        }
      }
    }
  }

  .load-blogs-btn{
    margin-bottom: 109px;
    padding-inline: 67px;
    margin-inline: auto;
  }
}
