<div class="blogs-list-container">

  <div class="list-title">
    Blog posts
  </div>

  <div class="list-description">
    Our latest updates and blogs about managing your team
  </div>

  <div class="list-search-bar">
    <input class="list-search-box"
      placeholder="Search"
      [(ngModel)]="searchString"
      (ngModelChange)="filterList()"
      type="text">

      <button class="button-primary add-post-btn" [routerLink]="['/', pathsEnum.CREATE_BLOGS]">
        Add Post
      </button>
    </div>

    @if (filteredBlogs.length > 0) {
      <div class="blogs-grid" [@listAnimation]="filteredBlogs.length">
        @for (blog of filteredBlogs; track blog; let index = $index) {
          @if (index < showingBlogsLimit) {
            <a class="blog"
              [routerLink]="['/', pathsEnum.BLOGS_LIST, blog.id]">
              <img class="blog-image"
                [ngSrc]="blog.image_url"
                [alt]="blog.title"
                width="370"
                height="147">
                <div class="blog-inner-container">
                  <div class="blog-title">
                    {{blog.title}}
                  </div>
                  <div class="blog-summary">
                    {{blog.main_text.substring(0, 100)}}
                  </div>
                  <div class="author-section">
                    <img [ngSrc]="blog.author_avatar_url"
                      class="author-avatar"
                      alt="avatar of the author"
                      width="45"
                      height="45">
                      <div class="author-name">
                        {{ blog.author_name}}
                      </div>
                      |
                      <div class="created-date">
                        {{ blog.date }}
                      </div>
                    </div>
                  </div>
                </a>
              }
            }
          </div>
        }

        @if (showingBlogsLimit < this.blogs.length) {
          <button class="button-primary load-blogs-btn"
            (click)="loadMorePosts()">
            Next >
          </button>
        }
      </div>
