@import 'normalize.css';

:root{
  --gray: #6D7D8B;
  --bluey: #4DA0FD;
  --dark-blue: #1E2742;
  --footer-bg: #252B3B;
}

@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-VariableFont_wght.ttf');
}

body {
  font-family: Mulish, serif;
}
