:root{
  --gray: #6D7D8B;
  --blue: #4DA0FD;
  --dark-blue: #1E2742;
  --footer-bg: #252B3B;
  --search-bg-white: #E8F3FF;
  --main-bg-white: #F5F7FA;
  --black: #25313C;
}

@font-face {
  font-family: 'Mulish';
  src: url('./assets/fonts/Mulish-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Cabin';
  src: url('./assets/fonts/Cabin-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Mukta';
  src: url('./assets/fonts/Mukta-Bold.ttf');
}


body {
  font-family: Mulish, serif;
  background: var(--main-bg-white);
  margin: 0;
  box-sizing: border-box;
}
